<header class="main-header">
    <div class="container nav-container">
        <div class="logo">
            <a href="index.html">
                <img loading="lazy" src="assets/Logo/Steelflex Logo.png" alt="SteelFlex" class="logo-img">
            </a>
        </div>
        <button class="mobile-menu-btn" aria-label="Toggle Menu">☰</button>
        <nav class="main-nav">
            <ul>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="products-structures.html">Products & Structures</a></li>
                <li><a href="capabilities.html">Capabilities</a></li>
                <li><a href="machineries.html">Machineries</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="careers.html">Careers</a></li>
                <li><a href="contact-us.html">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
